* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

section {
    text-align: center;
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: auto;
    background-color: #fff;
    /* padding: 20px; */
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 20px;
}

.navbar .logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5AD548; /* Ajuste a cor conforme necessário */
}


.reserve-btn a {
    background-color: #5AD548;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reserve-btn a:hover {
    background-color: #d48800;
}

#home {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Cor de fundo para visualização */
    width: 100%;
}

#translado {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f8f9fa; /* Cor de fundo para visualização */
    width: 100%;
}

#passeios {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f8f9fa; /* Cor de fundo para visualização */
    width: 100%;
}

#sobre{
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #f8f9fa; /* Cor de fundo para visualização */
    width: 100%;
}

#reserve {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Cor de fundo para visualização */
    width: 100%;
}

h1, h2 {
    font-size: 2rem;
    font-weight: bold;
}

.highlight {
    color: #ff6600;
}

/* Estilo específico da seção #home */
#home section {
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home h1 {
    margin-bottom: 20px;
}

/* Estilo dos cartões de translados */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.card-body p {
    text-align: left;
    margin: 0.5rem 0;
}

.card-body h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ff6600;
}

.card-body a {
    transition: background-color 0.3s;
    align-self: center;
    padding: 10px 20px;
    font-size: 0.875rem;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.card-body a:hover {
    background-color: #218838;
}

.carousel-inner img, .carousel-inner video {
    margin-top: 1rem; /* Equivalente a mt-4 */
    border-radius: 0.5rem; /* Equivalente a rounded-lg */
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-control-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.carousel-control-toggle input[type="checkbox"] {
    display: none;
}

.carousel-control-toggle label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #ddd;
    border-radius: 15px;
    position: relative;
    transition: background 0.3s;
    text-align: center;
    line-height: 20px; /* Ajustado */
    color: #333;
    font-size: 0.875rem;
    padding: 0 5px;
}

.carousel-control-toggle label::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px; /* Adicionado unidade de medida */
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.carousel-control-toggle input:checked + label {
    background: #66bb6a;
}

.carousel-control-toggle input:checked + label::before {
    transform: translateX(30px);
}

/* Estilo da seção Sobre Nós */
#sobre section {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 1000px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-content {
    flex: 1;
    text-align: left;
}

.about-content p {
    margin: 0;
    font-size: 18px;
}

.about-image {
    
    flex: 1;
    text-align: center;
}

.about-image img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 350px;
    height: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-image img:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Seção Comentarios - O que falam sobre nós? */

#comente {
    text-align: center;
    margin: 50px 0;
}

#comente h2 {
    margin-bottom: 40px;
}

.float-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.float-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.highlight {
    font-weight: bold;
    color: #ff6600;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*-- Footer --*/

.footer {
    background: linear-gradient(25deg, #fff8e1, #ffeb99);
    color: #000; /* Texto preto */
    padding: 40px 20px; /* Espaçamento maior */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Espaçamento entre colunas */
    text-align: center;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px; /* Espaçamento inferior para separação */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os ícones */
    margin-top: 20px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer h5 {
    font-size: 1.5rem; /* Tamanho do texto dos títulos */
    margin-bottom: 10px;
    font-weight: bold;
}

.footer p {
    margin: 0;
    margin-bottom: 10px; /* Espaçamento inferior para parágrafos */
}

.footer a {
    color: #000; /* Cor do link mais visível */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .text-center {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento inferior para separação */
}

.footer .col {
    margin: 10px; /* Margem para espaçamento entre colunas */
}
/* Responsividade personalizada */
@media (max-width: 767.98px) {
    section {
        padding: 10px;
    }

    .card-body h3 {
        font-size: 1rem;
    }

    .card-body p {
        font-size: 0.8rem;
    }

    .card-body a {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
.footer {
    grid-template-columns: 1fr;
    padding: 10px;
}

.social-icons {
    flex-direction: column; /* Ícones em coluna em telas menores */
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin: 10px 0; /* Adiciona margem vertical aos ícones */
}


@media (min-width: 768px) and (max-width: 991.98px) {
    section {
        padding: 15px;
    }

    .card-body h3 {
        font-size: 1.1rem;
    }

    .card-body p {
        font-size: 0.85rem;
    }

    .card-body a {
        font-size: 0.95rem;
        padding: 9px 18px;
    }
}

.footer {
    padding: 15px;
}