* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 20px;
}

.navbar .logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5AD548;
}

.reserve-btn a {
    background-color: #5AD548;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reserve-btn a:hover {
    background-color: #d48800;
}

#home, #translado, #passeios, #sobre, #reserve {
    padding: 100px 20px;
    text-align: center;
}
#home section {
    text-align: center;
}

#home h1 {
    font-size: 3rem; 
    font-weight: bold;
}

.carousel-inner img, .carousel-inner video {
    margin-top: 1rem; /* Equivalente a mt-4 */
    border-radius: 0.5rem; /* Equivalente a rounded-lg */
    width: 800px;
    height: 600px;
    object-fit: cover;
}

.carousel-control-slider {
    position: flex;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.carousel-control-slider input[type="range"] {
    -webkit-appearance: none;
    width: 50px;
    height: 10px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}

.carousel-control-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #66bb6a;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #66bb6a;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control-slider label {
    font-size: 0.875rem; /* Ajuste o tamanho do texto conforme necessário */
}

#home img {
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 800px;
    height: 600px;
    aspect-ratio: 800 / 400;
    object-fit: cover;
}
