* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 20px;
}

.navbar .logo img {
    height: 70px;
    margin-left: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5AD548;
}

.reserve-btn a {
    background-color: #5AD548;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 100px;
}

.reserve-btn a:hover {
    background-color: #d48800;
}

#home, #translado, #passeios, #sobre, #reserve {
    padding: 100px 20px;
    text-align: center;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar .logo img {
        margin-left: 10px;
        height: 50px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        background-color: #fafafa;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .reserve-btn {
        display: none;
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .reserve-btn.active {
        display: flex;
    }

    .reserve-btn a {
        width: 90%;
        text-align: center;
        margin: 0;
    }

    .menu-icon {
        display: block;
        margin-right: 10px;
    }
}
