/* Estilo da seção Sobre Nós */
#sobre section {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 1000px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Conteúdo de texto */
.about-content {
    flex: 1;
    text-align: left;
}

.about-content p {
    margin: 0;
    font-size: 18px;
    text-align: justify; /* Texto justificado */
}

/* Estilo da imagem */
.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%; /* Ajusta a largura da imagem no mobile */
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-image img:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    #sobre section {
        flex-direction: column;
        text-align: center; /* Centraliza o conteúdo no mobile */
    }

    .about-container {
        flex-direction: column; /* Alinha imagem acima do texto no mobile */
    }

    .about-image {
        margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
    }

    .about-content {
        text-align: justify; /* Justifica o texto no mobile */
    }
}
